.docsContainer {
  display: grid;
  grid-template-columns: 200px  auto 100px;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 15px;
  line-height: 25px;
}

.navMenu {
}

.docsContentContainer {
  padding: 0px 35px;

}

.docsContent > h1:first-of-type {
  margin-top:0px;
}
.docsContentFooter {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #efefef;
}
.docNav{
}
