.section__hero {
    min-height: 25vh;
    padding: 5px;
    padding-bottom: 30px;
    background-size: cover;
    background-color: #074f66;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='100%25' y2='0' gradientTransform='rotate(0,934,484)'%3E%3Cstop offset='0' stop-color='%230b7b9f' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%230b7b9f'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='100%25' gradientTransform='rotate(204,934,484)'%3E%3Cstop offset='0' stop-color='%23074f66' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23074f66'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1600' height='900'/%3E%3Crect fill='url(%23b)' fill-opacity='0' width='1600' height='900'/%3E%3C/svg%3E");
    background-attachment: fixed;

}

.hero_container {
    max-width: 1280px;
    margin:0 auto;
    text-align: center;
    color: #fff;
}

.hero_pitch h1 {
    font-size: 40px;
}

.hero_pitch .byline {
    font-size: 22px;
    font-weight: 400;
}

@media (max-width: 768px) {
.hero_pitch h1 {
    font-size: 30px;
}
.hero_pitch .byline {
    font-size:14px;
}
}

.hero_pitch span.highlight {
    color: #eebf3f;
}

.available-announcement {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.hero_cta {
    text-align: center;
}
.navMenu {
    list-style-type: none;
}

.myPrimaryButton {
    margin:auto;
    background-color:white;
    color:#074f66;
    font-weight: 900;
    text-align: center;
    height: 54px;
    line-height: 54px;
    max-width: 250px;
    font-size: 18px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s ease-out;
}
.myPrimaryButton:hover {
    background-color:#23b1e0;
    color:#ffffff;
}

.myPrimaryButton > a {
    text-decoration: none;
    color: #074f66
}
.myPrimaryButton > a:hover {
    color: #fff;
}

.mainscreenshot {
    max-width: 80%;
}