.benefits-container {
  text-align: center;
  margin: 30px 0px;
  padding: 20px 5px;
  background-color: #f6f6f6;
}

.benefit {
  max-width: 1280px;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top:80px;
}

.benefit.inverse {
  flex-direction: row-reverse;
}

.benefit-text-container {
  text-align:left;
  padding: 5px 20px;
  max-width: 400px;
}

.benefit-image-container {
  padding: 5px 20px;
}

.benefit-image {
  width: 100%;
}